@import "tailwindcss";

@theme inline {
  /* Colors */
  --color-primary: #c043b2;
  --color-background: #010101;
  --color-neutral-100: #e3e4e6;
  --color-neutral-200: #959596;
}

body {
  @apply bg-background text-neutral-100;
  @apply m-0 p-0 box-border;
  @apply overflow-x-hidden;
}

.blink {
  animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

input:focus-visible,
textarea:focus-visible {
  --tw-ring-shadow: 0 0 #0000 !important;
  box-shadow: none !important;
}
